@model object
@{
    ViewBag.Title = "Button";
}

<h2 gds>Button</h2>
<ul gds>
    <li><a gds href="https://design-system.service.gov.uk/components/button/" gds-new-window>GDS Component specification</a></li>
</ul>

<h3 gds>Button</h3>
<code-sample name="Button/10_Button" />

<h3 gds>Start button</h3>
<code-sample name="Button/20_StartButton" />

<h3 gds>Secondary button</h3>
<code-sample name="Button/30_SecondaryButton" />


<h3 gds>Secondary start button</h3>
<code-sample name="Button/40_SecondaryStartButton" />

<h3 gds>Disabled button</h3>
<code-sample name="Button/50_DisabledStartButton" />


<h3 gds><strike>Depricated button</strike></h3>
<code-sample name="Button/60_DepricatedButton" />