@{
    ViewBag.Title = "Ordered List";
}

<h1 gds>Ordered list</h1>

<h2 gds>Standard</h2>
<code-sample name="OrderedList/10_OList" />

<h2 gds>With extra spacing</h2>
<code-sample name="OrderedList/20_OListSpaced" />

<h2 gds>Hide numbers</h2>
<p gds>You may want the HTML markup of an ordered list, without the browser rendered numbers.</p>
<code-sample name="OrderedList/30_OListNoNumbers" />