<h1 gds>Paragraphs, links and headers</h1>

<h2 gds>Standard headers</h2>
<code-sample name="ParagraphsLinksHeadings/10_Headers" />

<h2 gds>Headers with size overrides</h2>
<p gds>Available size override are:</p>
<ul gds show-bullets>
    <li>@@GdsSize.Small (Normally h4)</li>
    <li>@@GdsSize.Medium (Normally h3)</li>
    <li>@@GdsSize.Large (Normally h2)</li>
    <li>@@GdsSize.ExtraLarge (Normally h1)</li>
</ul>
<code-sample name="ParagraphsLinksHeadings/20_HeadersWithOverrides" />

<h2 gds>Paragraphs and links</h2>
<ul gds gds-bullets>
    <li><a gds href="https://design-system.service.gov.uk/styles/typography/#paragraphs" gds-new-window>GDS paragraphs</a></li>
    <li><a gds href="https://design-system.service.gov.uk/styles/typography/#links" gds-new-window>GDS links</a></li>
</ul>
<code-sample name="ParagraphsLinksHeadings/30_ParagraphsWithLinks" />

<h2 gds>Links in new windows</h2>
<p gds>Open in a new window and add text letting the user know that the link will open in a new window. The text comes from appsettings.json in <em>GdsHelpers : Options : AnchorTagNewWindowText</em></p>
<code-sample name="ParagraphsLinksHeadings/40_LinksNewWindow" />
