@{
    ViewBag.Title = "Unordered List";
}
<h1 gds>Unordered list</h1>

<h2 gds>Without bullets</h2>
<code-sample name="UnorderedList/10_UList" />

<h2 gds>With bullets</h2>
<code-sample name="UnorderedList/20_UListBullets" />

<h2 gds>With extra spacing</h2>
<p gds>Required GDS version 3.7 or greater</p>
<code-sample name="UnorderedList/30_UListSpaced" />

<h2 gds>With bullets and extra spacing</h2>
<code-sample name="UnorderedList/40_UListSpacedBullets" />