@using GDSHelpers.Models
@model object
@{
    ViewBag.Title = "GDS Helpers Available";
    BreadCrumbs bread = new BreadCrumbs(true);
}

@section BreadCrumbSection { 
    <gds-bread-crumbs bread-crumbs=@bread />
}

<gds-container>
    <h1 gds>.NET Core GDS Helpers</h1>
    <p gds>This sample site shows all the GDS helpers we have and the correct way to use them. It is also a playground for making new tag helpers and modifying existing ones.</p>
    <h2 gds>Tag Helpers</h2>
    <ul gds>
        <li><a gds class="govuk-link" asp-action="Tag" asp-controller="TagHelpers" asp-route-tagView="ParagraphsLinksHeadings">Paragraphs, links and headings</a></li>
        <li><a gds class="govuk-link" asp-action="Tag" asp-controller="TagHelpers" asp-route-tagView="BackLink">Back link</a></li>
        <li><a gds class="govuk-link" asp-action="Tag" asp-controller="TagHelpers" asp-route-tagView="Button">Button</a></li>
        <li><a gds class="govuk-link" asp-action="Tag" asp-controller="TagHelpers" asp-route-tagView="OrderedList">Ordered list</a></li>
        <li><a gds class="govuk-link" asp-action="Tag" asp-controller="TagHelpers" asp-route-tagView="UnorderedList">Unordered list</a></li>
        <li><a gds class="govuk-link" asp-action="Tag" asp-controller="TagHelpers" asp-route-tagView="TextBox">Text Box</a></li>
        <li><a gds class="govuk-link" asp-action="Tag" asp-controller="TagHelpers" asp-route-tagView="TextArea">Text Area</a></li>
        <li><a gds class="govuk-link" asp-action="TextBoxTest2" asp-controller="TagHelpers">Text Box with derived class</a></li>
        <li><a gds class="govuk-link" asp-action="Tag" asp-controller="TagHelpers" asp-route-tagView="Details">Details</a></li>
        <li><a gds class="govuk-link" asp-action="Index" asp-controller="Tables">Table</a></li>
    </ul>

    <h3>Depricated tag helpers</h3>
    <ul gds>
        <li><a class="govuk-link" asp-action="Tag" asp-controller="TagHelpers" asp-route-tagView="Heading">Heading</a></li>
        <li><a class="govuk-link" asp-action="Tag" asp-controller="TagHelpers" asp-route-tagView="Link">Links</a></li>
    </ul>

</gds-container>