<p gds>GDS paragraph.</p>
<p gds>Here is a <a gds asp-action="Index" asp-controller="Home">GDS anchor link</a>.</p>
<p gds>Here is a <a gds asp-action="Index" asp-controller="Home" gds-hidden-text="(some hidden text)">GDS anchor link with ...</a>.</p>