<p gds>Here is a <a gds href="https://www.cqc.org.uk" gds-new-window>external site link</a>.</p>
<p gds>Here is a <a gds href="https://www.cqc.org.uk" gds-hidden-text="some hidden text" gds-new-window>link with ...</a>.</p>